.sobre-mi {
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .presentacion {
    padding: 1.5rem;
    font-size: 1.5vw;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.05cm;
  }

  @media (max-width: 1500px) {
    .presentacion {
      font-size: 2vw;
    }
  }

  @media (max-width: 1200px) {
    .presentacion {
      font-size: 3vw;
    }
  }

  @media (max-width: 768px) {
    .presentacion {
      font-size: 5vw;
    }
  }
  
  @media (max-width: 590x) {
    .presentacion {
      font-size: 15w;
    }
  }