.sobre-mi {
    padding-top: 20em;
    padding-bottom: 20rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .presentacion {
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.05cm;
  }