<section class="sobre-mi seccion-oscura" id="Sobre-mí">

  <!-- Button modal EDITAR -->
  <div class="d-flex align-self-end">
    <button type="button" class="btn btn-light " data-bs-toggle="modal" data-bs-target="#editarSobreMi">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>


  <div class="container-fluid">

    <div class="col">

      <h2 class="seccion-titulo text-center">Un poco sobre mí:</h2>

      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices risus congue,
        viverra ante et, blandit nisl. Maecenas sit amet velit et nisi malesuada ultricies non nec ex. Suspendisse
        suscipit
        consectetur odio ac rhoncus. Donec eget diam nec ex posuere pretium. Vestibulum metus quam, pretium a ante
        vitae,
        posuere vulputate leo. Donec tincidunt pretium malesuada. Donec vel mauris dolor. Etiam condimentum quam ac
        lorem
        porta, non aliquam lectus pulvinar. Etiam volutpat quam nec accumsan imperdiet. Nunc et purus a odio pulvinar
        pellentesque ac vitae erat. Quisque non posuere turpis, vitae accumsan lacus.</p>
    </div>
  </div>

</section>
<app-modal-about-me></app-modal-about-me>
