<section class="educacion seccion-oscura" id="Educación">


    <h1 class="seccion-titulo">Estudios</h1>


    <div class="d-flex align-self-end me-5">
        <!-- Button modal MÁS formación -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addAc">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>

    <h2>Títulos académicos</h2>
    <div class="container-fluid">

            <div class="card-deck row d-flex justify-content-center">

                <div class="card col-3">
                    <div class="card-body">
                        <img src="./assets/img/Logo-Uader-FCyT.jpg" alt="Logo-Uader-FCyT">
                        <h4 class="card-title">Analista de sistemas</h4>
                        <p class="card-text">UADER, CyT</p>
                        <p>(En curso)</p>
                    </div>
                    <ul class="list d-flex align-self-end">
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#editAc">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </ol>
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#delAc">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </ol>
                    </ul>
                </div>


                <div class="card col-3">
                    <div class="card-body">
                        <img width="100" src="./assets/img/Logo-Uader-FHAyCS.png" alt="Lodo Uader - FHAyCS">
                        <h4 class="card-title">Profesorado en francés</h4>
                        <p class="card-text">UADER, FHAyCS</p>
                        <p>(En curso) </p>
                    </div>

                    <ul class="list d-flex align-self-end">
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#editAc">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </ol>
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#delAc">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </ol>
                    </ul>
                </div>


                <div class="card col-3">
                    <div class="card-body">
                        <img width="100" src="./assets/img/Logo-Uader-FHAyCS.png" alt="Lodo Uader - FHAyCS">
                        <h4 class="card-title">Traductora de francés</h4>
                        <p class="card-text">2020 - Promedio general 8,63 - UADER, FHAYCS</p>
                    </div>

                    <ul class="list d-flex align-self-end">
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#editAc">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </ol>
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#delAc">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </ol>
                    </ul>
                </div>

            </div>

    </div>


    <div class="d-flex align-self-end me-5 mt-5">
        <!-- Button modal MÁS cursos -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addCap">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>

    <h2>Capacitaciones</h2>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col-3">Fecha de Expedición</th>
                <th scope="col-3">Nombre</th>
                <th scope="col-3">Institución</th>
                <th scope="col-3"> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2022</td>
                <td>Formación de expertos en ciencia de datos</td>
                <td>Dirección de Producción de la Municipalidad de Concepción del Uruguay</td>
                <td>
                    <div class="cap-buttuns">
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#editCap">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#delCap">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2022</td>
                <td>#SéProgramar</td>
                <td>Plan Nacional #ArgentinaPrograma.</td>
                <td>
                    <div class="cap-buttuns">
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#editCap">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#delCap">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2022</td>
                <td>Rompiendo estereotipos: programación inclusiva para mujeres y diversidades</td>
                <td>Dirección de Producción de la Municipalidad de Concepción del Uruguay, UADER CyT.</td>
                <td>
                    <div class="cap-buttuns">
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#editCap">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#delCap">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>2021</td>
                <td>Diseño Gráfico y de páginas web</td>
                <td>Educación para jóvenes y adultos, CGE.</td>
                <td>
                    <div class="cap-buttuns">
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#editCap">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#delCap">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</section>

<app-modal-educacion></app-modal-educacion>