.educacion {
    padding: 2rem;
}

.card-deck {
    opacity: 0.8;
}

.card {
    margin: 10px;
}

.card:hover {
    background-color: antiquewhite;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.card-body img {
    width: 100px;

    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.educación h2 {
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.list{
    z-index: 1;
}