<section class="educacion seccion-oscura" id="Educación">


    <h1 class="seccion-titulo">Estudios</h1>


    <!-- Button modal MÁS formación -->
    <div class="d-flex align-self-end me-5">
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addAc">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>

    <h2>Títulos académicos</h2>
    <div class="container-fluid " >

        <div class="row justify-content-center">

        
            <div class="row card-deck d-flex justify-content-center" >

                <div class="col-md-3 card"  *ngFor="let titulo of titulos">
                    <div class="card-body">
                        <img [src]="titulo.logoInstitucion" [alt]="titulo.descripcionLogo">
                        <h4 class="card-title text-center">{{titulo.nombreTitulo}}</h4>
                        <p class="card-text">{{titulo.institucion}}</p>
                        <p>{{titulo.fechaEgreso}}</p>
                    </div>
                    <ul class="list d-flex align-self-end">
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#editAc">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </ol>
                        <ol>
                            <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal"
                                data-bs-target="#delAc">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </ol>
                    </ul>
                </div>
            </div> 
                    
        </div>   
          
    </div>

    <div class="d-flex align-self-end me-5 mt-5">
        <!-- Button modal MÁS cursos -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addCap">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>



    <h2>Capacitaciones</h2>

    <table class="table table-success table-striped" *ngFor="let capacitacion of capacitaciones">
        <thead>
            <tr>
                <th scope="col">Fecha de Expedición</th>
                <th scope="col">Nombre</th>
                <th scope="col">Institución</th>
                <th scope="col">Edición</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{capacitacion.fechaExpedision}}</td>
                <td>{{capacitacion.nombre}}</td>
                <td>{{capacitacion.institucion}}</td>
                <td>
                    <div class="cap-buttuns">
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#editCap">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark my-1" data-bs-toggle="modal" data-bs-target="#delCap">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</section>

<app-modal-educacion></app-modal-educacion>