<!-- Sección Experiencia-->

<section class="experiencia seccion-color" id="Experiencia">


    <div class="d-flex align-self-end me-5">
        <!-- Button modal MÁS EXPERIENCIA -->
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#masExp">
            <i class="bi bi-plus-square-fill"></i>
        </button>
    </div>


    <h1 class="seccion-titulo justify-content-center">Experiencias</h1>

    <div class="container-fluid tablaExp" *ngFor="let experiencia of experiencias">

        <div class="row my-5">

            <div class="col-md-2">
                {{experiencia.periodo}}
            </div>
            <div class="col-md-3">
                {{experiencia.puesto}}
            </div>
            <div class="col-md-5">
                {{experiencia.descripcion}}
            </div>
            <div class="col-md-2">

                <ul class="d-flex align-self-end me-5">
                    <ol>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editExp">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </ol>
                    <ol>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delExp">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </ol>
                </ul>

            </div>

        </div>

        <!--

        <div class="row my-5">

            <div class="col-md-2">
                {{experiencia.periodo}}
            </div>
            <div class="col-md-3">
                {{experiencia.puesto}}
            </div>
            <div class="col-md-5">
                Actualmente me desempeño como docente en el Colegio “Justo José de Urquiza” y la EET Nº1 “Ana Urquiza de
                Victorica”. Esta experiencia fortaleció mis habilidades de comunicación, para hablar de forma clara y
                concisa.
            </div>
            <div class="col-md-2">

                <ul class="d-flex align-self-end me-5">
                    <ol>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editExp">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </ol>
                    <ol>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#delExp">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </ol>
                </ul>

            </div>
        </div -->

    </div>

    <app-modal-experiencia></app-modal-experiencia>

</section>