<section class="contacto seccion-color" id="Contacto">
    
    <h1 class="seccion-titulo">Contacto</h1>

    <form>

      <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escriba su nombre...">
      </div>
      <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">E-mail</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="ejemplo@ejemplo.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escriba aquí su mensaje"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </form>
  </section>
