<!-- Button modal AGREGAR FORMACIÓN ACADÉMICA-->

<div class="modal fade" id="editarBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Banner</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-body">
  
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
            <input type="file" class="form-control" id="inputGroupFile01">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success">Guardar cambios</button>
        </div>

      </div>

    </div>

</div>