<!-- Button modal AGREGAR PROYECTO-->

<div class="modal fade" id="addPro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <!-- form -->
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        
          <div class="modal-body">
        
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
              <input type="file" class="form-control" id="inputGroupFile01" formControlName="imagen" [class.border-danger]="ImagenInvalid">
            </div>
            <div *ngIf="ImagenInvalid">
              <p class="error" >
                Debe ingresar una imagen.
              </p>
            </div>
        
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Título del proyecto</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Título" formControlName="titulo" [class.border-danger]="TituloInvalid">
            </div>
            <div *ngIf="TituloInvalid">
              <p class="error" >
                Debe ingresar el título de su proyecto.
              </p>
            </div>
        
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Link</label>
              <input type="url" class="form-control" id="formGroupExampleInput2"
                placeholder="www.ejemplo.com" formControlName="link" [class.border-danger]="LinkInvalid">
            </div>
            <div *ngIf="LinkInvalid">
              <p class="error" >
                Debe ingresar el link de su proyecto.
              </p>
            </div>
        
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Button modal EDITAR PROYECTOS-->
<div class="modal fade" id="editPro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <!-- form -->
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)">

          <div class="modal-body">
        
            <div class="input-group mb-3">
              <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
              <input type="file" class="form-control" id="inputGroupFile01" ormControlName="imagen" [class.border-danger]="ImagenInvalid">
            </div>
            <div *ngIf="ImagenInvalid">
              <p class="error" >
                Debe ingresar una imagen.
              </p>
            </div>
        
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Título del proyecto</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Título" placeholder="Título" formControlName="titulo" [class.border-danger]="TituloInvalid">
            </div>
            <div *ngIf="TituloInvalid">
              <p class="error" >
                Debe ingresar el título de su proyecto.
              </p>
            </div>
        
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label">Link</label>
              <input type="url" class="form-control" id="formGroupExampleInput2"
                placeholder="www.ejemplo.com" formControlName="link" [class.border-danger]="LinkInvalid">
            </div>
            <div *ngIf="LinkInvalid">
              <p class="error" >
                Debe ingresar el link de su proyecto.
              </p>
            </div>
        
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Button modal ELIMNAR Proyecto-->

<div class="modal fade" id="delPro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que desea eliminar este proyecto?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>
  </div>