<!-- Button modal AGREGAR FORMACIÓN ACADÉMICA-->

<div class="modal fade" id="addAc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar título</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Título</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Título">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Año egreso</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese año de egreso">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Institución</label>
          <input type="text" class="form-control" id="formGroupExampleInput2"
            placeholder="Institutción que otorga el título">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Button modal EDITAR FORMACIÓN ACADMÉMICA-->
<div class="modal fade" id="editAc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar título</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">Subir Imagen</label>
          <input type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Título</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Título">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Año egreso</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Ingrese año de egreso">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Institución</label>
          <input type="text" class="form-control" id="formGroupExampleInput2"
            placeholder="Institutción que otorga el título">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>



<!-- Button modal ELIMNAR FORMACIÓN ACADÉMICA-->

<div class="modal fade" id="delAc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que quiere eliminar esta título?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>






<!-- Button modal AGREGAR CURSO O CAPACITACIÓN-->

<div class="modal fade" id="addCap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Curso o Capacitación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Fecha de expedición</label>
          <input type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Ingrese la fecha de expedición del certificado">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del cursp">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Institución</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Institución organizadora">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Button modal EDITAR CURSO O CAPACITACIÓN-->

<div class="modal fade" id="editCap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Curso o Capacitación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">Fecha de expedición</label>
          <input type="text" class="form-control" id="formGroupExampleInput"
            placeholder="Ingrese la fecha de expedición del certificado">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nombre del curso">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Institución</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Institución organizadora">
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>


<!-- Button modal ELIMNAR Curso o Capacitación-->

<div class="modal fade" id="delCap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Está seguro que quiere eliminar esta Curso?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>