<section class="hero align-items-stretch" id="Inicio">

  <div class="container-fluid">

    <div class="row">

      <div class="col">

        <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
          <img class="hero-imagen-desarrollador" src="./assets/img/foto_perfil.jpg" alt="Foto Personal">
          <h1>¡Hola! Soy Yamila Germanier </h1>
          <h2>Desarrolladora Web Full Stack Junior </h2>
          <h4><i class="bi bi-geo-alt"></i> Concepción del Uruguay, E.R.</h4>
         </div>
         
      </div>

    </div>

  </div>

</section>