* {
  margin: 0px;
  padding: 0px;
}

body {
  width:fit-content;
}

/*BARRA DE NAVEGACIÓN*/

.navbar {
  padding: 0px;
  background-color: #12b395;
  height: 95px;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
  background-color: rgb(18, 179, 149);
}

.redes i {
  padding: 0.5rem;
  color: #fafafa;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 35px;
}

.redes i:hover {
  color: rgb(86, 86, 86);
}

.navbar li a {
  color: white;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
}

.navbar li a:hover {
  color: rgb(86, 86, 86);
}

.btn:hover {
  background-color: rgb(86, 86, 86);
  color: antiquewhite;
  border-color:rgb(86, 86, 86);
}

.btn {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* Generalidades*/

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}

.seccion-color {
  background-color:#096050;
}

/*SECCIÓN PRINCIPAL */

.hero-banner-imagen {
  margin-top: 95px;
}

.hero {
  background-color: antiquewhite;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding:3rem;
  margin: 1.5rem;;
}

.hero h1 {
  font-family:'Faster One', cursive;
}

.hero h2 {
  font-family: 'Rampart One', cursive;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

/* Sobre mi */
.sobre-mi {
  height: 500px;
  padding: 25em;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center; 
}

/* Sección Experiencia */

.experiencia {

  height: 45rem;
}

.accordion {
  margin-top: 50px;
}

/* Sección Educación*/

.educación {
  height: 45rem;
  padding: 2em;
}

.seccion-oscura {
  background-color: rgb(0, 0, 0);
}

.seccion-titulo {
  font-family: 'Rampart One', cursive;
  color: antiquewhite;
  padding: 20px;
}

.card-deck {
  opacity: 0.8;
}

.card {
  margin: 10px;
}

.card:hover {
  background-color: antiquewhite;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.card-body img {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10% ;
}

.educación h2 {
  margin-top: 50px;
  font-family:'Times New Roman', Times, serif;
}

/* Sección Habilidades */

.skills {
  padding-bottom: 30px;
  height: 45rem;
}

.progress {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 500px;
}

.skill_tech p {
  display: flex ;
  align-items: flex-start;
  color: whitesmoke;
  font-size: 1.2rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sección Proyectos */

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.proyectos-recientes{
  padding: 40px;
  height: 45rem;
}

.seccion-descripcion {
  font-family: 'Times New Roman', Times, serif;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Sección Contacto */

.contacto {
  height: 45rem;
}

.btn form {
  display: flex;
  align-content: center;
}

label {
  color: #000;
  font-weight: bolder;

}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid black;
 ;
  }

input:focus,
textarea:focus { 
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.contacto form div .input {
  margin-left: 10px;
}

form {
  margin: 0 auto;
  width: 420px;
  padding: 1em;
}


/* footer */

.branch {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  font-family:'Tangerine', cursive;
  font-size: 25px;
}

@media screen and (min-width: 992px){
  .card-deck{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
